<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Delete Parent</h1>

    <form method="POST" class="post-form"><input type='hidden' name='csrfmiddlewaretoken' value='roCiqr400ULYZcfUvRluJW28wrCQ26DSqgLQFq02WVA3FDxoJRT9hloNX3Z6OCZc' />
        <p><label for="id_user_choice">Parent:</label> <select name="user_choice" id="id_user_choice">
            {% for parent in parent_list %}
                <option value="{{ parent.id }}">{{ parent.name }} {{ parent.parent_lastname }}</option>
            {% endfor %}
  <option value="2">ensbsr</option>

  <option value="6">talha</option>

</select></p>
<p><label>Permission:</label> <ul id="id_permission_choice">
    <li><label for="id_permission_choice_0"><input type="checkbox" name="permission_choice" value="1" id="id_permission_choice_0" />
 Can add log entry</label>

</li>
    <li><label for="id_permission_choice_1"><input type="checkbox" name="permission_choice" value="2" id="id_permission_choice_1" />
 Can change log entry</label>

</li>
    <li><label for="id_permission_choice_2"><input type="checkbox" name="permission_choice" value="3" id="id_permission_choice_2" />
 Can delete log entry</label>

</li>
</ul></p>
        <button type="submit" class="save btn btn-default">Delete</button>
    </form>

</body>
</html>