<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details - {{ student.student_name }}</title>
</head>
<body>
<h1><a href="../../../user_panel/user/{{ student.id }}/">{{ student.id }}</a></h1>
<h1>{{ student.student_tcn }}</h1>
<h1>{{ student.student_name }}</h1>
<h1>{{ student.student_lastname }}</h1>
<h1>{{ student.student_phone }}</h1>
<h1>{{ student.student_email }}</h1>
<h1>{{ student.student_bday }}</h1>
<h1>{{ student.student_regday }}</h1>
<h1>{{ student.student_city }}</h1>
<h1>{{ student.student_town }}</h1>
<h1>{{ student.student_adress }}</h1>
<h1>{{ student.room_number }}</h1>
<h1>{{ student.student_type }}</h1>
<h1>{{ student.birth_place }}</h1>
<h1>{{ student.school_name }}</h1>
<h1>{{ student.year }}</h1>
<h1>{{ student.blood_type }}</h1>
<h1>{{ student.health_notes }}</h1>
<h1>{{ student.special_notes }}</h1>
{% if show %}
<h1><a href="../../../user_panel/group/{{ user.groups.values.first.id }}/">{{ user.groups.values.first.name }}</a></h1>
{% endif %}
{% if student.file_field %}
    <img src="/../../media/{{ student.file_field }}" alt="profile-pic" height="400">
{% endif %}
</body>
</html>