<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details - {{ liability.liability_name }}</title>
</head>
<body>
<h1>{{ liability.record_no }}</h1>
<h1>{{ liability.liability_type }}</h1>
<h1>{{ liability.person_id }}</h1>
<h1>{{ liability.liability_name }}</h1>
<h1>{{ liability.liability_desc }}</h1>
<h1>{{ liability.liability_date }}</h1>
<h1>{{ liability.liability_lastday }}</h1>
<h1>{{ liability.liability_return }}</h1>
<h1>{{ liability.liability_penalty }}</h1>
</body>
</html>