<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ student.id }}</h1>
    <form method="POST" class="post-formparent" enctype="multipart/form-data">
        {% csrf_token %}
        <p><label for="id_student_tcn">TC No:</label> <input type="text" name="student_tcn" value={{ student.student_tcn }} required id="id_student_tcn" maxlength="11" /> <span class="helptext">11 digit</span></p>
<p><label for="id_student_name">Student Name:</label> <input type="text" name="student_name" value={{ student.student_name }} required id="id_student_name" maxlength="200" /> <span class="helptext">Student Name</span></p>
<p><label for="id_student_lastname">Student Last Name:</label> <input type="text" name="student_lastname" value={{ student.student_lastname }} required id="id_student_lastname" maxlength="200" /> <span class="helptext">Student Last Name</span></p>
<p><label for="id_student_phone">Phone Number:</label> <input type="tel" name="student_phone" value={{ student.student_phone }} required id="id_student_phone" /> <span class="helptext">+905553332211</span></p>
<p><label for="id_student_email">Student Email:</label> <input type="email" name="student_email" required id="id_student_email" maxlength="254" value={{ student.student_email }} /> <span class="helptext">aaaaa@aaaa.aaa</span></p>
<p><label for="id_student_birthday">Birthday:</label> <input type="text" name="student_birthday" required id="id_student_birthday" value={{ student.student_birthday.year }}-{{ student.student_birthday.month }}-{{ student.student_birthday.day }} /> <span class="helptext">1990-12-31</span></p>
<p><label for="id_student_regday">Registration Day:</label> <input type="text" name="student_regday" value={{ student.student_regday.year }}-{{ student.student_regday.month }}-{{ student.student_regday.day }} required id="id_student_regday" /><input type="hidden" name="initial-student_regday" value="2017-06-01" id="initial-id_student_regday" /> <span class="helptext">1990-12-31</span></p>
<p><label for="id_student_city">Student City:</label><select name="student_city" id="id_student_city">
    <option value={{ student.student_city }}>{{ student.city_name }}</option>
  <option value="01">Adana</option>

  <option value="02">Adıyaman</option>

  <option value="03">Afyon</option>

  <option value="04">Ağrı</option>

  <option value="05">Amasya</option>

  <option value="06">Ankara</option>

  <option value="07">Antalya</option>

  <option value="08">Artvin</option>

  <option value="09">Aydın</option>

  <option value="10">Balıkesir</option>

  <option value="11">Bilecik</option>

  <option value="12">Bingöl</option>

  <option value="13">Bitlis</option>

  <option value="14">Bolu</option>

  <option value="15">Burdur</option>

  <option value="16">Bursa</option>

  <option value="17">Çanakkale</option>

  <option value="18">Çankırı</option>

  <option value="19">Çorum</option>

  <option value="20">Denizli</option>

  <option value="21">Diyarbakır</option>

  <option value="22">Edirne</option>

  <option value="23">Elazığ</option>

  <option value="24">Erzincan</option>

  <option value="25">Erzurum</option>

  <option value="26">Eskişehir</option>

  <option value="27">Gaziantep</option>

  <option value="28">Giresun</option>

  <option value="29">Gümüşhane</option>

  <option value="30">Hakkari</option>

  <option value="31">Hatay</option>

  <option value="32">Isparta</option>

  <option value="33">Mersin</option>

  <option value="34">İstanbul</option>

  <option value="35">İzmir</option>

  <option value="36">Kars</option>

  <option value="37">Kastamonu</option>

  <option value="38">Kayseri</option>

  <option value="39">Kırklareli</option>

  <option value="40">Kırşehir</option>

  <option value="41">Kocaeli</option>

  <option value="42">Konya</option>

  <option value="43">Kütahya</option>

  <option value="44">Malatya</option>

  <option value="45">Manisa</option>

  <option value="46">Kahramanmaraş</option>

  <option value="47">Mardin</option>

  <option value="48">Muğla</option>

  <option value="49">Muş</option>

  <option value="50">Nevşehir</option>

  <option value="51">Niğde</option>

  <option value="52">Ordu</option>

  <option value="53">Rize</option>

  <option value="54">Sakarya</option>

  <option value="55">Samsun</option>

  <option value="56">Siirt</option>

  <option value="57">Sinop</option>

  <option value="58">Sivas</option>

  <option value="59">Tekirdağ</option>

  <option value="60">Tokat</option>

  <option value="61">Trabzon</option>

  <option value="62">Tunceli</option>

  <option value="63">Şanlıurfa</option>

  <option value="64">Uşak</option>

  <option value="65">Van</option>

  <option value="66">Yozgat</option>

  <option value="67">Zonguldak</option>

  <option value="68">Aksaray</option>

  <option value="69">Bayburt</option>

  <option value="70">Karaman</option>

  <option value="71">Kırıkkale</option>

  <option value="72">Batman</option>

  <option value="73">Şırnak</option>

  <option value="74">Bartın</option>

  <option value="75">Ardahan</option>

  <option value="76">Iğdır</option>

  <option value="77">Yalova</option>

  <option value="78">Karabük</option>

  <option value="79">Kilis</option>

  <option value="80">Osmaniye</option>

  <option value="81">Düzce</option>

</select> <span class="helptext">City Where Student From</span></p>
<p><label for="id_student_town">Student Town:</label> <input type="text" name="student_town" value={{ student.student_town }} required id="id_student_town" maxlength="20" /> <span class="helptext">Town Where Student From</span></p>
<p><label for="id_room_number">Room Number:</label> <select name="room_number" id="id_room_number">
    <option value={{ student.room_number }}>{{ student.room_number }}</option>
  <option value="101" >101</option>

  <option value="102">102</option>

  <option value="103">103</option>

  <option value="201">201</option>

  <option value="202">202</option>

  <option value="203">203</option>

  <option value="301">301</option>

  <option value="302">302</option>

  <option value="303">303</option>

  <option value="401">401</option>

  <option value="402">402</option>

  <option value="403">403</option>

</select> <span class="helptext">Room Number Student Assigned</span></p>
<p><label for="id_student_type">Student Type:</label> <select name="student_type" id="id_student_type">
    <option value={{ student.student_type }}>{{ student.student_type }}</option>
  <option value="Guest">Guest</option>

  <option value="Temporary">Temporary</option>

  <option value="Permanent">Permanent</option>

</select> <span class="helptext">Student Accommodation Type</span></p>
<p><label for="id_birth_place">Birth City:</label> <select name="birth_place" id="id_birth_place">
    <option value={{ student.student_city }}>{{ student.birth_city_name }}</option>
  <option value="01">Adana</option>

  <option value="02">Adıyaman</option>

  <option value="03">Afyon</option>

  <option value="04">Ağrı</option>

  <option value="05">Amasya</option>

  <option value="06">Ankara</option>

  <option value="07">Antalya</option>

  <option value="08">Artvin</option>

  <option value="09">Aydın</option>

  <option value="10">Balıkesir</option>

  <option value="11">Bilecik</option>

  <option value="12">Bingöl</option>

  <option value="13">Bitlis</option>

  <option value="14">Bolu</option>

  <option value="15">Burdur</option>

  <option value="16">Bursa</option>

  <option value="17">Çanakkale</option>

  <option value="18">Çankırı</option>

  <option value="19">Çorum</option>

  <option value="20">Denizli</option>

  <option value="21">Diyarbakır</option>

  <option value="22">Edirne</option>

  <option value="23">Elazığ</option>

  <option value="24">Erzincan</option>

  <option value="25">Erzurum</option>

  <option value="26">Eskişehir</option>

  <option value="27">Gaziantep</option>

  <option value="28">Giresun</option>

  <option value="29">Gümüşhane</option>

  <option value="30">Hakkari</option>

  <option value="31">Hatay</option>

  <option value="32">Isparta</option>

  <option value="33">Mersin</option>

  <option value="34">İstanbul</option>

  <option value="35">İzmir</option>

  <option value="36">Kars</option>

  <option value="37">Kastamonu</option>

  <option value="38">Kayseri</option>

  <option value="39">Kırklareli</option>

  <option value="40">Kırşehir</option>

  <option value="41">Kocaeli</option>

  <option value="42">Konya</option>

  <option value="43">Kütahya</option>

  <option value="44">Malatya</option>

  <option value="45">Manisa</option>

  <option value="46">Kahramanmaraş</option>

  <option value="47">Mardin</option>

  <option value="48">Muğla</option>

  <option value="49">Muş</option>

  <option value="50">Nevşehir</option>

  <option value="51">Niğde</option>

  <option value="52">Ordu</option>

  <option value="53">Rize</option>

  <option value="54">Sakarya</option>

  <option value="55">Samsun</option>

  <option value="56">Siirt</option>

  <option value="57">Sinop</option>

  <option value="58">Sivas</option>

  <option value="59">Tekirdağ</option>

  <option value="60">Tokat</option>

  <option value="61">Trabzon</option>

  <option value="62">Tunceli</option>

  <option value="63">Şanlıurfa</option>

  <option value="64">Uşak</option>

  <option value="65">Van</option>

  <option value="66">Yozgat</option>

  <option value="67">Zonguldak</option>

  <option value="68">Aksaray</option>

  <option value="69">Bayburt</option>

  <option value="70">Karaman</option>

  <option value="71">Kırıkkale</option>

  <option value="72">Batman</option>

  <option value="73">Şırnak</option>

  <option value="74">Bartın</option>

  <option value="75">Ardahan</option>

  <option value="76">Iğdır</option>

  <option value="77">Yalova</option>

  <option value="78">Karabük</option>

  <option value="79">Kilis</option>

  <option value="80">Osmaniye</option>

  <option value="81">Düzce</option>

</select> <span class="helptext">City Where Student Birth</span></p>
<p><label for="id_school_name">School Name:</label> <input type="text" name="school_name" value={{ student.school_name }} required id="id_school_name" maxlength="50" /> <span class="helptext">School Name</span></p>
<p><label for="id_education_year">Education Year:</label> <select name="education_year" id="id_education_year">
    <option value={{ student.education_year }}>{{ student.education_year }}</option>
  <option value="Prep">Preparation</option>

  <option value="1">1</option>

  <option value="2">2</option>

  <option value="3">3</option>

  <option value="4">4</option>

  <option value="5">5</option>

  <option value="6">6</option>

</select> <span class="helptext">Education Year</span></p>
<p><label for="id_blood_type">Blood Type:</label> <select name="blood_type" id="id_blood_type">
    <option value={{ student.blood_type }}>{{ student.blood_type_name }}</option>
  <option value="0 rh +">0 rh +</option>

  <option value="0 rh -">0 rh -</option>

  <option value="A rh +">A rh +</option>

  <option value="A rh -">A rh -</option>

  <option value="B rh +">B rh +</option>

  <option value="B rh -">B rh -</option>

  <option value="AB rh +">AB rh+</option>

  <option value="AB rh -">AB rh-</option>

</select> <span class="helptext">Blood Type</span></p>
<p><label for="id_health_notes">Health Notes:</label> <input type="text" name="health_notes" value={{ student.health_notes }} id="id_health_notes" maxlength="100" /> <span class="helptext">Health Notes</span></p>
<p><label for="id_special_notes">Special Notes:</label> <input type="text" name="special_notes" value={{ student.special_notes }} id="id_special_notes" maxlength="100" /> <span class="helptext">Special Notes</span></p>
<p><label for="id_file_field">Image Upload:</label> <input type="file" name="file_field" id="id_file_field" value="{{ student.file_field.path }}" /> <span class="helptext">Profile Image Path</span></p>
        <button type="submit" class="Submit">Edit/Save</button>
    </form>
</body>
</html>