{{ datetime }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leave Assign</title>
</head>
<body>
    <form method="POST" class="post-form"><input type='hidden' name='csrfmiddlewaretoken' value='19pdTKzCHP9i4KspGOtUzoWPmMsIvLuEPXGNbIsfoQwBaLq7MWt5vmP5WjT9j4As' />
        <p><label for="id_leave_id">leave_id: :</label> <input type="text" value="{{ next_id }}" name="leave_id" required id="id_leave_id" maxlength="10" /></p>
<p><label for="id_leave_start">leave Start: :</label> <input type="date"  value="2017-07-02" name="leave_start" required id="id_leave_start" /></p>
<p><label for="id_leave_end">leave End: :</label> <input type="date" value="2017-07-05" name="leave_end" required id="id_leave_end" /></p>
<p><label for="id_leave_person_id">Permitted Person: :</label> <select name="leave_person_id" required id="id_leave_person_id">
  {% for id,fullname in person_list %}
  <option value="{{ id }}">{{ fullname }}</option>
{% endfor %}
</select></p>
<p><label for="id_leave_reason">leave Reason: :</label> <input type="text" name="leave_reason" required id="id_leave_reason" maxlength="100" /></p>
        <button type="submit" class="save btn btn-default">Leave Assign</button>
    </form>

<h2>{{ request.user }}</h2>
</body>
</html>