<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add Student</h1>
<button onclick="window.location.href='/student_panel/student_add'">Add Student</button>
<h1>Student Table</h1>
<button onclick="window.location.href='/student_panel/student_table'">Student Table</button>
{#<h1>Edit Student</h1>#}
{#<button onclick="window.location.href='/student_panel/student_edit'">Edit Student</button>#}
{#<h1>Delete Student</h1>#}
{#<button onclick="window.location.href='/student_panel/student_delete'">Delete Student</button>#}
<h1>Add Parent</h1>
<button onclick="window.location.href='/student_panel/parent_add'">Add Parent</button>
<h1>Parent Table</h1>
<button onclick="window.location.href='/student_panel/parent_table'">Parent Table</button>
{#<h1>Edit Parent</h1>#}
{#<button onclick="window.location.href='/student_panel/parent_edit'">Edit Parent</button>#}
{#<h1>Delete Parent</h1>#}
{#<button onclick="window.location.href='/student_panel/parent_delete'">Delete Parent</button>#}
<h1>Add Personal</h1>
<button onclick="window.location.href='/student_panel/personal_add'">Add Personal</button>
<h1>Personal Table</h1>
<button onclick="window.location.href='/student_panel/personal_table'">Personal Table</button>
{#<h1>Edit Personal</h1>#}
{#<button onclick="window.location.href='/student_panel/personal_edit'">Edit Personal</button>#}
{#<h1>Delete Personal</h1>#}
{#<button onclick="window.location.href='/student_panel/personal_delete'">Delete Personal</button>#}
<h1>Permission Assign</h1>
<button onclick="window.location.href='/student_panel/permission_assign'">Permission Assign</button>
</body>
</html>