{% extends  "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css">
  <link rel="stylesheet" href="/static/plugins/datepicker/datepicker3.css ">
  <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/iCheck/all.css' %}">
{% endblock %}
{% block script %}

<script src="{%  static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
<script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
<script src="/static/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="/static/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
<script src="{%  static 'plugins/iCheck/icheck.min.js' %}"></script>
    <script type="text/javascript">
$(document).ready(function() {
    $(".select2").select2();

    $("[data-mask]").inputmask();

    $('.date-picker').datepicker({timePicker:true,
      autoclose: true,format: 'yyyy-mm-dd'
    });

    $('.datetime-picker').datetimepicker({format: 'YYYY-MM-DD HH:mm:ss'
    });
    $('input[type="radio"].minimal').iCheck({
      radioClass: 'iradio_minimal-blue'
    });


} );
</script>
{% endblock %}
{% block content %}
    <section>
      <ol class="breadcrumb">
        <li><a href="http://127.0.0.1:80000/home/"><i class="fa fa-home"></i> Ana Sayfa</a></li>
        <li class="active"><a href="http://127.0.0.1:8000/operation_panel/leave_table/"><i class="fa fa-table"></i> İzin Tablosu</a></li>
          <li class="active">Yeni İzin Kaydı</li>
      </ol>

    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Your Page Content Here -->

                <form method="POST" class="post-form" enctype="multipart/form-data">
                    {% csrf_token %}
              <div class="form-group">
                <label for="id_person_id">Öğrenci Adı: </label>
                <select class="form-control select2" style="width: 100%;" name="person_id" id="id_person_id">
                  <option value="{{ form.person_id.value }}"></option>
                    {% for person in model_info.person_list %}
                        <option value="{{ person }}">{{ person.full_name }}</option>
                    {% endfor %}
                </select>
              </div>
                <div class="form-group">
                <label for="id_leave_start">İzin Başlangıcı: </label>
                  <input type="text" class="form-control pull-right date-picker" name="leave_start" id="id_leave_start" value="{{ form.leave_start.value.year }}-{{ form.leave_start.value.month }}-{{ form.leave_start.value.day }}" maxlength="10">
              </div>
                <div class="form-group">
                <label for="id_leave_end">İzin Bitişi:</label>
                  <input type="text" class="form-control pull-right date-picker" name="leave_end" id="id_leave_end" value="{{ form.leave_end.value.year }}-{{ form.leave_end.value.month }}-{{ form.leave_end.value.day }}" maxlength="10">
              </div>
                <div class="form-group">
                    <label for="id_leave_reason">İzin Nedeni: </label>
                    <input type="text" class="form-control" placeholder="İzin Nedeni" name="leave_reason" required id="id_leave_reason" value="{{ form.leave_reason.value }}" maxlength="20" >
                </div>
                <div class="col-xs-12">
                    <div class="pull-right">
                  <button type="submit" class="btn btn-primary btn-block btn-flat">Kaydet</button>
                </div></div>

                </form>
    </section>
    {% endblock %}
