{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>
    <form method="POST" class="post-form" enctype="multipart/form-data">
                        {% csrf_token %}
                  <div class="row">
                      <div class="col-xs-12">
                          {% bootstrap_form form %}
                      </div>
                  </div>
                      <div class="row">
                        <!-- /.col -->
                        <div class="col-xs-12">
                            <div class="pull-right">
                          <button type="submit" class="btn btn-primary btn-block btn-flat">Kaydet</button>
                        </div></div>
                        <!-- /.col -->
                      </div>
    </form>

<h2>{{ request.user }}</h2>
</body>
</html>
