<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operation Option Menu</title>
</head>
<body>
<h1>Operation Option Menu</h1>

<h2>Add Student Leave</h2>
<button onclick="window.location.href='/operation_panel/student_leave_add'">Add Student Leave</button>
<h2>Add Attendance</h2>
<button onclick="window.location.href='/operation_panel/attendance_add'">Add Attendance</button>
<h2>Table Attendant</h2>
<button onclick="window.location.href='/operation_panel/attendance_table'">Table Attendance</button>
<h2>Send a Mail</h2>
<button onclick="window.location.href='/operation_panel/mail_send'">Send A Mail</button>
<h2>Create EGM Xml</h2>
<button onclick="window.location.href='/operation_panel/create_egm_xml'">Create EGM Xml</button>

</body>
</html>