{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block css %}
          <style type="text/css">

.panel-heading{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.breadcrumb{
    background: #ffb733;
}
</style>
{% endblock %}

{% block content %}

    <section>
      <ol class="breadcrumb">
        <li><a href="http://127.0.0.1:8000/home/"><i class="fa fa-home"></i> Ana Sayfa</a></li>
          <li class="active">Toplu Mail / SMS</li>
      </ol>

    </section>
    <section class="content">

<div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Mail Gönder</h3>

        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
              <div class="col-md-6">
                  <form method="POST" class="post-form" enctype="multipart/form-data">
                        {% csrf_token %}
                  <div class="row">
                      <div class="col-xs-12">
                          {% bootstrap_form form %}
                      </div>
                  </div>
                      <div class="row">
                        <!-- /.col -->
                        <div class="col-xs-12">
                            <div class="pull-right">
                          <button type="submit" class="btn btn-primary btn-block btn-flat">Kaydet</button>
                        </div></div>
                        <!-- /.col -->
                      </div>
                  </form>
              </div>
          </div>
        </div>
            </div>
          </div>
    </section>
{% endblock %}