{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    {% if form %}
  <h3><u>Şifremi Unuttum</u></h3>
      <p>Lütfen şifrenizi sıfırlayabilmemiz için mail adresinizi giriniz.</p>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button 'Gönder' %}
      </form>
{% else %}
  <p>
      Şifrenizi sıfırlama bilgilerinizi mailinize yolladık. E-postalarınız Kontrol ediniz.
  </p>
  <p>
      Eğer E-posta size ulaşmamışsa, mail adresinizi doğru girdiğinizden emin olunuz ve span klasörünü kontrol ediniz.
  </p>
      <button onclick="window.location.href='http://127.0.0.1:8000/user_panel/login/'">Giriş Sayfasına Dön</button>

{% endif %}
{% endblock %}