{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    {% if validlink %}
  <h3><u>Şifremi Unuttum</u></h3>
      <p>Lütfen yeni şifrenizi giriniz.</p>
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
    {% bootstrap_button 'Onayla' %}
    </form>
  {% else %}
    <p>
        Şifre sıfırlama linke geçersiz ya da daha önce kullanılmıştır.
        Lütfen tekrar <a href="http://127.0.0.1:8000/user_panel/password_reset/">Sıfırlama linki</a> alınız.
    </p>
  {% endif %}
{% endblock %}