{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'plugins/fullcalendar/fullcalendar.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/fullcalendar/fullcalendar.print.css' %}" media="print">
  <link rel="stylesheet" href="{% static 'main_theme/css/skins/_all-skins.min.css' %}">
{% endblock %}
{% block content %}
    <section>
      <ol class="breadcrumb">
        <li><a href="http://127.0.0.1:80000/home/"><i class="fa fa-home"></i> Ana Sayfa</a></li>
          <li class="active">Doğum Günü Takvimi</li>
      </ol>

    </section>

    <section class="content">
      <div class="row">
        <div class="col-md-3">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h4 class="box-title">Yakındaki Doğum Günleri</h4>
            </div>
            <div class="box-body">
              <div id="external-events">

                <div class="external-event bg-green">Öğle Yemeği</div>

                </div>
              </div>
            </div>
          </div>
        <div class="col-md-9">
          <div class="box box-primary">
            <div class="box-body no-padding">
              <div id="calendar"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
{% block script %}
<script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>
<script src="{% static 'main_theme/js/demo.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script type="text/javascript" src="http://d3js.org/d3.v4.js" charset="utf-8"></script>
<script src="{% static 'plugins/fullcalendar/fullcalendar.min.js' %}"></script>
<script>
  $(function () {
      var new_data=JSON.parse('{{ birthday_json }}'.replace(/&quot;/g,'"'));
      console.log(new_data);
    var date = new Date();
    var d = date.getDate(),
        m = date.getMonth(),
        y = date.getFullYear();
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      buttonText: {
        today: 'today',
        month: 'month',
        week: 'week',
        day: 'day'
      },

      events:new_data

    });
    var element=document.getElementById('external-events');
    var all_events='';
    Date.prototype.addDays = function(days) {
    var dat = new Date(this.valueOf());
      dat.setDate(dat.getDate() + days);
    return dat;
        };
    for (event in new_data){
        var y_m_d=new_data[event].start.split('-');
        var date1=new Date(y_m_d);
        var date2=date.addDays(30);
        if (date2>date1) {
            if (date1>date){
            all_events += '<div class="external-event bg-green"><span>' + new_data[event].title +'</span><span class="pull-right">'+date1.getDate() +'-'+ String(Number(date1.getMonth())+1) +'</span></div>'
        }}
    }

      element.innerHTML=all_events
});


</script>
{% endblock %}