<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ödeme Bilgileri</title>
</head>
<body>
<h2>Ödenen Taksitler</h2>
{% for asset_id,payment_time in paid_dict.items %}
    <h3>Ödeme Planı:{{ asset_id }}</h3>
    <small>{% for paymnt in payment_time %}
        {% if paymnt != '' %}
            <h3>{{ forloop.counter }}. Taksit: {{ paymnt }}</h3>
        {% endif %}
    {% endfor %}</small>
{% endfor %}
<h2>Ödenmeyen Taksitler</h2>
{% for asset_id,payment_time in paid_dict.items %}
    <h3>Ödeme Planı:{{ asset_id }}</h3>
    <small>{% for paymnt in payment_time %}
        {% if paymnt == '' %}
            <h3>{{ forloop.counter }}. Taksit: Ödenmedi</h3>
        {% endif %}
    {% endfor %}</small>
{% endfor %}

</body>
</html>