{%  extends 'base.html' %}
{% block content %}
<script src="https://s3.amazonaws.com/filter.js/filter.js"></script>


<section>
    <ol class="breadcrumb">
        <li><a href="https://dormoni.com/home/"><i class="fa fa-home"></i> Ana Sayfa</a></li>
        <li><a href="https://dormoni.com/stock_panel/room_table/"><i class="fa fa-home"></i> Oda Tablosu</a></li>
          <li class="active">Oda Planı</li>
        <li class="pull-right"><a class="btn btn-primary"  href="https://dormoni.com/stock_panel/room_add/">Oda Ekle</a></li>

      </ol>
    </section>

<div class="body"><div class="body-header">

    <div class="selector">
        <form name="selectform">

      <select id="floorfilter" name="floorfilter" onchange="SelectChanged();" class="dropdown-toggle" data-toggle="dropdown">
      {% for room_flo in room_floor %}
            <option value={{ room_flo.0 }}>{{ room_flo.1 }}</option>
          {% endfor %}
      </select>
        </form>
        <div> &nbsp; </div>
      <nav>
    <a class="full" href="#" data-filter="#CF4232">Dolu Odalar</a>
    <a class= "empty" href="#" data-filter="#FAC023">Bos Odalar</a>
    <a class= "unused" href="#" data-filter="#068675">Kullanılmayan Odalar</a>
      </nav>

    </div>
</div>
<div class="body-content">
  <section id="filter">
<div class="container">
    <br>
    <div class="panel-group">
      {% for floor in room_floor %}
          <div class="row">
            <div class="col-lg-12">
                {% for room in room_list %}
                    {% if floor.1 == room.floor %}
                        <div class="col-lg-2">
                            {% if room.situation == 'dolu' %}
                                <div class="panel panel-block" style="background: #CF4232" data-filter-tags="#CF4232" >
                                <div class="panel-heading"><b><a href="https://dormoni.com/stock_panel/room/{{ room.id }}">{{ room.no }}</a></b></div>
                                {% for student in room.people_list %}
                                    <div class="panel-footer"><a href="https://dormoni.com/person_panel/student/{{ student.id }}">{{ student.id }} - {{ student.full_name }}</a></div>
                                {% endfor %}
                                </div>
                            {% elif room.situation == 'bos' %}
                                <div class="panel panel-block" style="background: #FAC023" data-filter-tags="#FAC023" >
                                <div class="panel-heading"><b><a href="https://dormoni.com/stock_panel/room/{{ room.id }}">{{ room.no }}</a></b></div>
                                {% for student in room.people_list %}
                                    <div class="panel-footer"><a href="https://dormoni.com/person_panel/student/{{ student.id }}">{{ student.id }} - {{ student.full_name }}</a></div>
                                {% endfor %}
                                </div>
                            {% else %}
                                <div class="panel panel-block" style="background: #068675" data-filter-tags="#068675" >
                                <div class="panel-heading"><b><a href="https://dormoni.com/stock_panel/room/{{ room.id }}">{{ room.no }}</a></b></div>
                                {% for student in room.people_list %}
                                    <div class="panel-footer"><a href="https://dormoni.com/person_panel/student/{{ student.id }}">{{ student.id }} - {{ student.full_name }}</a></div>
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
          </div><br>
      {% endfor %}

    </div>
</div>
  </section></div>


<br>  <br>

      </div>


<script type="text/javascript">
  $('#filter').filter();
  function SelectChanged()  {
      var svalue=document.selectform.floorfilter.value;
      var all_elements=document.getElementsByClassName('col-lg-2');
      var x;
      for (x in all_elements){
          room_no=all_elements[x].getElementsByClassName('panel-heading')[0].innerText;
          if (svalue === "0"){
              all_elements[x].style.display="inline";
          }
          else {
          if (svalue === room_no[0]) {
              all_elements[x].style.display="inline";
          }
          else if(svalue === room_no.slice(0,2)){
              all_elements[x].style.display="inline";
          }
          else{
              all_elements[x].style.display="none";
          }
      }}

 }


</script>




<style type="text/css">
.panel-heading {
  font-family: sans-serif;
  text-align: center;
}
.selector {
  font-family: sans-serif;
  text-align: center;
}
.full {
  background: #CF4232;

}
.empty {
  background: #FAC023;

}
.unused {
  background: #068675;

}
nav {
  background: #6B202E;
  padding: 10px 0;
  margin: 0 0 20px;
}
nav a {
  background: #ccc;
  padding: 5px;
  display: inline-block;
  text-decoration: none;
  color: black;
}
nav a.selected {
  background: white;
}
.block {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
}

  .panel-heading{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.breadcrumb{
    background: #f2dede;
}
  </style>

{% endblock %}
