{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-html5-1.4.2/b-print-1.4.2/r-2.2.0/datatables.min.css"/>


<style type="text/css">
.dataTables_filter {
        float: right;
        text-align: right;
      }
      div.dt-buttons {
      margin-left: 0;
      float: right;
      text-align: right;
      margin-left: 10px;

  }


      .btn1{
        background-color: #E16519;
        color:white;
      }
      .btn2{
        background-color: #CA0300;
        color:white;
      }

.panel-heading{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.breadcrumb{
    background: #ffb733;
}
.myTable_paginate{
margin-left: 0;
      float: right;
      text-align: right;
      margin-right: 30px;

}
    </style>

{% endblock %}

{% block script %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-html5-1.4.2/b-print-1.4.2/r-2.2.0/datatables.min.js"></script>


<script type="text/javascript">
$(document).ready(function() {
      var table = $('#myTable').DataTable(
      {
       "oLanguage": { "sSearch": "" } ,
        "language":{
                    "url": "{% static 'dataTables/js/Turkish.json' %}"
                  },
          responsive: true,

    dom: "fB+t+l+p",
    buttons: ['copyHtml5', 'excelHtml5', 'pdfHtml5']

    } );
    $('div.dataTables_filter input').attr('placeholder', 'Ara');
        $( "dt-buttons btn-group" ).insertAfter( $( ".dataTables_filter" ) );

} );



</script>

{% endblock %}

{% block content %}

    <li>

    </li>

<table id="myTable" class="display">
    <thead>
        <tr>
          <th>Leave ID</th>
          <th>Person id</th>
          <th>Person Full Name</th>
            <th>Leave Start</th>
          <th>Leave End</th>
          <th>Leave Reason</th>
        </tr>
    </thead>
    <tbody>
    {% for leave_record in leave_list %}
          <tr>
          <td>{{ leave_record.id }}</td>
              <td><a href="/person_panel/student/{{ leave_record.person_id }}/">{{ leave_record.person_id }}</a></td>
              <td>{{ leave_record.full_name }}</td><td>{{ leave_record.leave_start }}</td><td>{{ leave_record.leave_end }} </td>
              <td>{{ leave_record.leave_reason }} </td>
    {% endfor %}

    {% for parent in parent_list %}
          <tr>
              <td><a href="/person_panel/parent/{{ parent.id }}/">{{ parent.id }}</a></td>
              <td>{{ parent.full_name }}</td><td>{{ parent.group }}</td><td>{{ parent.parent_TCN }} </td>
              <td>{{ parent.parent_phone }} </td><td>{{ parent.parent_email }}</td>
          <td><button onclick="window.location.href='/person_panel/parent_edit/{{ parent.id }}'">Edit</button>
              <button onclick="window.location.href='/person_panel/parent_delete/{{ parent.id }}'">Delete</button></td></tr>
    {% endfor %}

    {% for personal in personal_list %}
          <tr>
              <td><a href="/person_panel/personal/{{ personal.id }}/">{{ personal.id }}</a></td>
              <td>{{ personal.full_name }}</td><td>{{ personal.group }}</td><td>{{ personal.personal_tcn }} </td>
              <td>{{ personal.personal_phone }} </td><td>{{ personal.personal_email }}</td>
          <td><button onclick="window.location.href='/person_panel/personal_edit/{{ personal.id }}'">Edit</button>
              <button onclick="window.location.href='/person_panel/personal_delete/{{ personal.id }}'">Delete</button></td></tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}

