<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href=/static/bootstrap.css>

		<!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href=/static/style.css>

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

		<title>Admin</title>
	</head>
	<body>
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Company Name</h1>
	               		<hr />
	               	</div>
	            </div>
				<div class="main-login main-center">
					<form class="form-horizontal" method="POST">
                        <input type='hidden' name='csrfmiddlewaretoken' value='THvCL8mUuQdGpnG5IzDlTTRpdhJrylBHSch7VNpcMZp902UD39DHJ5CfSVQ5r99Q' />
						<div class="form-group">
							<label for="id_first_name" class="cols-sm-2 control-label">Your Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="first_name" id="id_first_name"  placeholder="Enter your Name" value={{ user.first_name }} />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="id_last_name" class="cols-sm-2 control-label">Your Last Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="last_name" id="id_last_name"  placeholder="Enter your Last Name" value={{ user.last_name }} />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="id_email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="email" class="form-control" name="email" id="id_email"  placeholder="Enter your Email" value={{ user.email }} />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="id_password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="id_password"  placeholder="Password"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="id_password2" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password2" id="id_password2"  placeholder="Confirm your Password"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="id_group_choice" class="cols-sm-2 control-label">Group Selection</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                    <select name="group_choice" id="id_group_choice">

                                        <option value="1">Student</option>
                                        <option value="2">Manager</option>
                                        <option value="3">Personel</option>
                                    </select>
								</div>
							</div>
						</div>
						<div class="form-group ">
							<button type="submit" class="save btn btn-default">Register</button>
						</div>
					</form>

                    <div class="login-register">
                        <a href="login">Login</a>
                     </div>
				</div>
			</div>
		</div>

	</body>
</html>
