<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail-{{ group.id }}</title>
</head>
<body>

<h1>Group Bilgileri</h1>
<hr>
Grup Adı : {{ group.name }}
<hr>
Grup Üyeleri : {% for user in user_list %}////{{ user.username }}&nbsp&nbsp&nbsp&nbsp{% endfor %}
<hr>
Grup Yetkileri :  <table>{% for perm in group_perm %}<tr><td>{{ perm.content_type }}</td> &nbsp&nbsp&nbsp&nbsp <td>{{ perm.codename }}</td>&nbsp&nbsp&nbsp&nbsp<td>{{ perm.name }}</td></tr>{% endfor %}
</table>
</body>
</html>