{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DORMONİ SİSTEME GİRİŞ</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static 'login_st/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'login_st/font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'login_st/css/form-elements_login.css' %}">
        <link rel="stylesheet" href="{% static 'login_st/css/style.css' %}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script src="{% static 'login_st/js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'login_st/bootstrap/js/bootstrap.js' %}"></script>
        <script src="{% static 'login_st/js/jquery.backstretch.min.js' %}"></script>
        <script src="{% static 'login_st/js/scripts.js' %}"></script>

        <script src="{% static 'login_st/js/placeholder.js' %}"></script>
    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">

            <div class="inner-bg">
                <div class="container">

                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Akıllı Yurt Sistemi İçin Giriş Yap</h3>
                            		<p>Giriş için kullanıcı adı ve şifreni gir:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="" method="post" class="login-form">
                                    {% csrf_token %}
                                    <div class="row"><div class="col-xs-12">
                                        {% bootstrap_form form %}
                                    </div></div>
                                    <div class="row"><div class="text-center"><a href="http://127.0.0.1:8000/user_panel/password_reset/" style="color: #2c3b41;"><u><b>Şifremi Unuttum!</b></u></a></div></div>
                                    <br>
                                    <div class="row"><div class="col-xs-12">
                                        <button type="submit" class="btn">Giriş Yap!</button>
                                    </div></div>
			                    </form>
		                    </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <!-- Javascript -->



    </body>

</html>