<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Login</h1>
<button onclick="window.location.href='/user_panel/login'">Login</button>
<h1>Logout</h1>
<button onclick="window.location.href='/user_panel/logout'">Logout</button>
<h1>Add User</h1>
<button onclick="window.location.href='/user_panel/registration'">Add User</button>
<h1>User Table</h1>
<button onclick="window.location.href='/user_panel/user_table'">User Table</button>
<h1>Group Table</h1>
<button onclick="window.location.href='/user_panel/group_table'">Group Table</button>
<h1>Add Permission</h1>
<button onclick="window.location.href='/user_panel/permission_add'">Add Permission</button>
<h1>Permission Table</h1>
<button onclick="window.location.href='/user_panel/permission_table'">Permission Table</button>
<h1>User Permission Add</h1>
<button onclick="window.location.href='/user_panel/user_permission_add'">User Permission Add</button>
<h1>Group Permission Add</h1>
<button onclick="window.location.href='/user_panel/group_permission_add'">Group Permission Add</button>
<h1>Remover</h1>
<button onclick="window.location.href='/user_panel/remover'">Remover</button>
<h1>Reports</h1>
<button onclick="window.location.href='/user_panel/reports'">Reports</button>
</body>
</html>