{% load bootstrap4 %}
{% load static %}

{% block content %}
<div> &nbsp;</div>
    <div> &nbsp;</div>

    <div> &nbsp;</div>

    <div> &nbsp;</div>
<div> &nbsp;</div>

    <div> &nbsp;</div>
<div> &nbsp;</div>
<div> &nbsp;</div>

<div class="form-gap"> </div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                                        {% if form %}

                <div class="text-center">

                  <h3><i class="fa fa-lock fa-4x"></i></h3>

                  <h2 class="text-center">Şifrenizi mi unuttunuz?</h2>
                  <p>Şifrenizi burdan değiştirebilirsiniz.</p>
                  <div class="panel-body">

                    <form id="register-form" role="form" autocomplete="off" class="form" method="post"> {% csrf_token %}

                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input id="email" name="email" placeholder="email address" class="form-control"  type="email">
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Şifremi sıfırla" type="submit">
                      </div>

                      <input type="hidden" class="hide" name="token" id="token" value="">
                    </form>

                      {% else %}
  <p>
      Şifrenizi sıfırlama bilgilerinizi mailinize yolladık. E-postalarınız Kontrol ediniz.
  </p>
  <p>
      Eğer E-posta size ulaşmamışsa, mail adresinizi doğru girdiğinizden emin olunuz ve span klasörünü kontrol ediniz.
  </p>
      <button onclick="window.location.href='http://127.0.0.1:8000/user_panel/login/'">Giriş Sayfasına Dön</button>

{% endif %}


                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>

{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'maxcdn.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

<script type="text/css">
.form-gap {
    padding-top: 70px;
}
</script>

{% endblock %}
