{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
{% endblock %}

{% block content %}


<div class="container">
<div class="row">
<div class="col-lg-12" align="middle">
<h1>Şifre Değişimi</h1>
</div>
</div>
<div class="row">
    {% if validlink %}
<div class="col-lg-4 col-lg-offset-4">
<p class="text-center">Aşağıdaki Formdan Şifrenizi değiştirebilirsiniz. Şifreniz kullanıcı mailinizi içeremez</p>
<form method="post"> {% csrf_token %}{% bootstrap_form form %}
  <div class="form-group">
    <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Şifremi sıfırla" type="submit">
  </div>
</form>
</div><!--/col-sm-6-->
     {% else %}
    <p>
        Şifre sıfırlama linke geçersiz ya da daha önce kullanılmıştır.
        Lütfen tekrar <a href="https://dormoni.com/user_panel/password_reset/">Sıfırlama linki</a> alınız.
    </p>
  {% endif %}

</div><!--/row-->
</div>

{% endblock %}