{% load static %}
{% load bootstrap4 %}

<head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dormoni Ücretsiz Kayıt</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'maxcdn.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{% static 'main_theme/css/SmartDorms.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/iCheck/square/blue.css' %}">


<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%'
    });
  });
</script>
</head>
<body>


<div class="register-box">
  <div class="register-logo">
    <a href="https://dormoni.com/"><b>Dormoni</b></a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">15 Günlük Ücretsiz Deneyin</p>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
      <div class="row">
        <div class="col-xs-4">
            <div class="center-block">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Üye ol</button>
            </div>
        </div>
      </div>
    </form>

    <div class="social-auth-links text-center">
      <p>- veya -</p>

    <a href="https://dormoni.com/user_panel/login/" class="text-center">Üye girişi için</a>
  </div>
</div>
</div>
</body>