{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-html5-1.4.2/b-print-1.4.2/r-2.2.0/datatables.min.css"/>


<style type="text/css">
.dataTables_filter {
        float: right;
        text-align: right;
      }
      div.dt-buttons {
      margin-left: 0;
      float: right;
      text-align: right;
      margin-left: 10px;

  }


      .btn1{
        background-color: #E16519;
        color:white;
      }
      .btn2{
        background-color: #CA0300;
        color:white;
      }

.panel-heading{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.breadcrumb{
    background: #cddc39;

}
.myTable_paginate{
margin-left: 0;
      float: right;
      text-align: right;
      margin-right: 30px;

}
    </style>
{% endblock %}

{% block script %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.bootstrap4.min.js"></script>
  <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.colVis.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'dataTables/css/jquery.dataTable.min.css' %}">
    <script type="text/javascript">
$(document).ready(function() {
    var table = $('#myTable').DataTable(

      {
          "language":{"url": "{% static 'dataTables/js/Turkish.json' %}"},
        "order": [[ 0, "order" ]],
        responsive: true,
		dom: "<'row'<'col-sm-6 col-lg-3'B><'col-sm-1 col-lg-9'f>>" +
		"<'row'<'col-lg-12'tr>>" +
		"<'row'<'col-sm-2 col-lg-2'l><'col-sm-4 col-lg-4'i><'col-sm-6 col-lg-6'p>>",
        buttons: ['copyHtml5', 'excelHtml5', 'pdfHtml5', 'csvHtml5']

      }
    );

} );
</script>
{% endblock %}
{% block content %}

<table id="myTable" class="display">
    <thead>
        <tr>
          <th>User ID</th>
          <th>Username</th>
          <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>SuperUser</th>
            <th>User Group</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for user in user_list %}
          <tr>
              <td><a href="/user_panel/user/{{ user.id }}/">{{ user.id }}</a></td>
              <td>{{ user.name }}</td><td>{{ user.last_name }}</td><td>{{ user.email }} </td>
              <td>{{ user.is_superuser }}</td><td>{{ user.groups.all }}</td>
          <td><button onclick="window.location.href='/user_panel/user_edit/{{ user.id }}'">Edit</button>
              <button onclick="window.location.href='/user_panel/user_delete/{{ user.id }}'">Delete</button></td></tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}
