<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document Option Menu</title>
</head>
<body>
<h1>Document Option Menu</h1>
<h2>Add Document</h2>
<button onclick="window.location.href='/document_panel/document_add'">Add Document</button>
<h2>Document List</h2>
<button onclick="window.location.href='/document_panel/document_table'">Table Document</button>
<h1>Add liability</h1>
<button onclick="window.location.href='/document_panel/liability_add'">Add liability</button>
<h1>liability Table</h1>
<button onclick="window.location.href='/document_panel/liability_table'">liability Table</button>
<h3>{{ request.user }}</h3>
</body>
</html>