<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Attendance</h1>
<p><label for="id_room_no">Room No: </label><select name="room_no" id="id_room_no" onclick="href_reviser()">
    <option value="">------</option>
    {% for room in room_list %}
    <option value="{{ room.room_no }}">{{ room.room_no }}</option>
    {% endfor %}
</select></p>
<p><label for="id_student_id">Student Id: </label><select name="student_id" id="id_student_id" onclick="href_reviser()">
    <option value="">------</option>
    {% for student in student_list %}
    <option value="{{ student.id }}">{{ student.full_name }}</option>
    {% endfor %}
</select></p>
<button id="attendance_id"  onclick="window.location.href='/reports_panel/attendance/-'" type="button">Attendance</button>
<h1>Capacity</h1>
<button id="capacity_id" onclick="window.location.href='/reports_panel/capacity/'" type="button">Capacity</button>
<h1>Room Plan</h1>
<button id="room_plan" onclick="window.location.href='/reports_panel/room_plan/'" type="button">Room Plan</button>
<h1>Lists</h1>
<button id="document_list" onclick="window.location.href='/fixture_panel/document_table'" type="button">Document List</button>
<button id="fixture_list" onclick="window.location.href='/fixture_panel/fixture_table'" type="button">Fixture List</button>
<button id="student_list" onclick="window.location.href='/student_panel/student_table/'" type="button">Student List</button>
<button id="attendance_list" onclick="window.location.href='/student_panel/attendance_table'" type="button">Attendance List</button>
</body>
<script >
function href_reviser(){
    select=document.getElementById("id_room_no");
    selected_room=select.options[select.selectedIndex].value;
    select2=document.getElementById("id_student_id");
    selected_student=select2.options[select2.selectedIndex].value;
    attendance_id.innerHTML='Attendance '+selected_room+' - '+selected_student;
    document.getElementById("attendance_id").setAttribute('onclick',"window.location.href='/reports_panel/attendance/"+selected_room+"-"+selected_student+"'");
    capacity_id.innerHTML='Capacity '+selected_room;
    document.getElementById("capacity_id").setAttribute('onclick',"window.location.href='/reports_panel/capacity/"+selected_room+"'");
    if (selected_room)
    {
        room_plan.innerHTML = 'Room Plan ' + selected_room;
        document.getElementById("room_plan").setAttribute('onclick', "window.location.href='/fixture_panel/room/" + selected_room + "'");
    } else {
        room_plan.innerHTML = 'Room Plan ' + selected_room;
        document.getElementById("room_plan").setAttribute('onclick', "window.location.href='/reports_panel/room_plan/'");
    }
    if (selected_student)
    {
        student_list.innerHTML = 'Student Info: '+selected_student;
        document.getElementById("student_list").setAttribute('onclick', "window.location.href='/student_panel/student/"+selected_student+"'");
    }
    else {
        student_list.innerHTML = 'Student List';
        document.getElementById("student_list").setAttribute('onclick', "window.location.href='/student_panel/student_table/'");

    }
}
</script>

</html>