{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css">
  <link rel="stylesheet" href="/static/plugins/datepicker/datepicker3.css ">
  <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/iCheck/all.css' %}">
{% endblock %}
{% block script %}

<script src="{%  static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
<script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
<script src="/static/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="/static/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
<script src="{%  static 'plugins/iCheck/icheck.min.js' %}"></script>
    <script type="text/javascript">
$(document).ready(function() {
    $(".select2").select2();

    $("[data-mask]").inputmask();

    $('.date-picker').datepicker({timePicker:true,
      autoclose: true,format: 'yyyy-mm-dd'
    });

    $('.datetime-picker').datetimepicker({format: 'YYYY-MM-DD HH:mm:ss'
    });
    $('input[type="radio"].minimal').iCheck({
      radioClass: 'iradio_minimal-blue'
    });


} );
</script>
{% endblock %}
{% block content %}
    <section>
      <ol class="breadcrumb">
        <li><a href="http://127.0.0.1:80000/home/"><i class="fa fa-home"></i> Ana Sayfa</a></li>
        <li class="active"><a href="http://127.0.0.1:8000/stock_panel/room_table/"><i class="fa fa-table"></i> Oda Tablosu</a></li>
          <li class="active">Yeni Oda Kaydı</li>
      </ol>

    </section>
    <section class="content">

<div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Yeni Eşya Kaydı</h3>

        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
              <div class="col-md-6">
                  <form method="POST" class="post-form" enctype="multipart/form-data">
                  {% csrf_token %}

                <div class="form-group has-feedback">
                    <label for="id_room_no">Oda Numarası: </label>
                    <input type="text" class="form-control" placeholder="Oda Numarası" name="room_no" required id="id_room_no" value="{{ formroom.room_no.value }}" maxlength="5">
                </div>
                <div class="form-group has-feedback">
                    <label for="id_room_floor">Oda Katı: </label>
                    <input type="text" class="form-control" placeholder="Oda Katı" name="room_floor" required id="id_room_floor" value="{{ formroom.room_floor.value }}" maxlength="2">
                </div>
                <div class="form-group has-feedback">
                    <label for="id_room_people">Oda Kontenjanı: </label>
                    <select class="form-control select2" style="width: 100%;" name="room_people" required id="id_room_people">
                  <option value="{{ formroom.room_people.value }}"></option>
                    {% for fix_type in model_info.room_people_list %}
                        <option value="{{ fix_type.0 }}">{{ fix_type.1 }}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="form-group has-feedback">
                    <label for="id_room_type">Oda Türü: </label>
                    <select class="form-control select2" style="width: 100%;" name="room_type" required id="id_room_type">
                  <option value="{{ formroom.room_type.value }}"></option>
                    {% for fix_type in model_info.room_type_list %}
                        <option value="{{ fix_type.0 }}">{{ fix_type.1 }}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="form-group has-feedback">
                    <label for="id_room_desc">Oda Açıklaması: </label>
                    <input type="text" class="form-control" placeholder="Oda Açıklaması" name="room_desc" id="id_room_desc" value="{{ formroom.room_desc.value }}" maxlength="100">
                </div>
                <div class="form-group has-feedback">
                    <label for="id_room_image">Oda Resmi: </label>
                    <input type="file" class="form-control" placeholder="Oda Resmi" name="room_image" id="id_room_image" value="{{ formroom.room_image.value }}" maxlength="100">
                </div>
                  <div class="col-xs-12">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Kaydet</button>
                            </div></div>
                  </form>
              </div>
          </div>
        </div></div>
    </section>
{% endblock %}