{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css">
  <link rel="stylesheet" href="/static/plugins/datepicker/datepicker3.css ">
  <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/iCheck/all.css' %}">
{% endblock %}
{% block script %}

<script src="{%  static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
<script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
<script src="/static/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="/static/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
<script src="{%  static 'plugins/iCheck/icheck.min.js' %}"></script>
    <script type="text/javascript">
$(document).ready(function() {
    $(".select2").select2();

    $("[data-mask]").inputmask();

    $('.date-picker').datepicker({timePicker:true,
      autoclose: true,format: 'yyyy-mm-dd'
    });

    $('.datetime-picker').datetimepicker({format: 'YYYY-MM-DD HH:mm:ss'
    });
    $('input[type="radio"].minimal').iCheck({
      radioClass: 'iradio_minimal-blue'
    });
    });
window.onload=function () {
    var all_fields = document.getElementsByClassName('date-picker');
    for (no in all_fields) {
        field = all_fields[no];
        if ('INPUT' === field.tagName) {
            var value = field.getAttribute('value');
            if (value.includes('/')) {
                var date = value.split('/');
                var year = String(date[2]);
                var month = String(date[1]);
                var day = String(date[0]);
                var newDate = year + '-' + month + '-' + day;
                field.setAttribute('value', newDate)
            }
            ;
        }
        ;
    }
    ;
}
</script>
{% endblock %}
{% block content %}
    <section>
      <ol class="breadcrumb">
        <li><a href="https://dormoni.com/home/"><i class="fa fa-home"></i> Ana Sayfa</a></li>
        <li class="active"><a href="https://dormoni.com/stock_panel/room_table/"><i class="fa fa-table"></i> Oda Tablosu</a></li>
          <li class="active">Yeni Oda Kaydı</li>
      </ol>

    </section>
    <section class="content">

<div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Yeni Oda Kaydı</h3>

        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
              <div class="col-md-6">
                  <form method="POST" class="post-form" enctype="multipart/form-data">
                        {% csrf_token %}
                  <div class="row">
                      <div class="col-xs-12">
                          {% bootstrap_form formroom %}
                      </div>
                  </div>
                      <div class="row">
                        <!-- /.col -->
                        <div class="col-xs-12">
                            <div class="pull-right">
                          <button type="submit" class="btn btn-primary btn-block btn-flat">Kaydet</button>
                        </div></div>
                        <!-- /.col -->
                      </div>
                  </form>
              </div>
          </div>
        </div></div>
    </section>
{% endblock %}