{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
      <ol class="breadcrumb">
        <li><a href="http://127.0.0.1:80000/home/"><i class="fa fa-home"></i> Ana Sayfa</a></li>
          <li class="active">Oda Tablosu</li>
          <li class="pull-right"><a class="btn btn-primary" href="http://127.0.0.1:8000/stock_panel/room_add/">Yeni Oda Kaydı</a></li>
      </ol>

    </section>

    <!-- Main content -->
    <section class="content">
<div class="content">
      <!-- Your Page Content Here -->
        <!-- left column -->
    <div class="row">
            <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-body" style="column-count: 2">
                    <h3><b>Oda No: </b>{{ room.room_no }}</h3>
                    <h3><b>Oda Türü: </b>{{ room.room_type_name }}</h3>
                    <h3><b>Oda Kişi Sayısı: </b>{{ room.room_people_name }}</h3>
                    <h3><b>Oda Katı: </b>{{ room.room_floor }}</h3>
                    <h3><b>Oda Açıklaması: </b>{{ room.room_desc }}</h3>
                    <h3><b>Oda Resmi: </b>{{ room.room_image.name }}</h3>
                </div>
            </div></div>
    </div>

    <!-- /.content -->
    </div>
    </section>
{% endblock %}
{% block css %}

{% endblock %}
{% block script %}

{% endblock %}