<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add Room</h1>
<button onclick="window.location.href='/stock_panel/room_add'">Add Room</button>
<h1>Room Table</h1>
<button onclick="window.location.href='/stock_panel/room_table'">Room Table</button>
<h1>Add Fixture</h1>
<button onclick="window.location.href='/stock_panel/fixture_add'">Add Fixture</button>
<h1>Fixture Table</h1>
<button onclick="window.location.href='/stock_panel/fixture_table'">Fixture Table</button>


</body>
</html>