
 <div class="container">
    <br>



  <div class="panel-group">
      <div class="row">

          ">
            <div class="panel pane<div class="col-4"  >
            <div class="panel panel-success"  >
            <div class="panel-heading">Panel with panel-success class</div>
            <div class="panel-body">Panel Content</div>
            </div>
          </div>
            <div class="col-4l-info">
                <div class="panel-heading">Panel with panel-info class</div>
                <div class="panel-body">Panel Content</div>
            </div>

          </div>

          <div class="col-4">
            <div class="panel panel-warning">
                <div class="panel-heading">Panel with panel-info class</div>
                <div class="panel-body">Panel Content</div>
            </div>
        <br>
          </div>

          <div class="col-4"  >
            <div class="panel panel-success"  >
            <div class="panel-heading">Panel with panel-success class</div>
            <div class="panel-body">Panel Content</div>
            </div>
          </div>
            <div class="col-4">
            <div class="panel panel-info">
                <div class="panel-heading">Panel with panel-info class</div>
                <div class="panel-body">Panel Content</div>
            </div>

          </div>

          <div class="col-4">
            <div class="panel panel-warning">
                <div class="panel-heading">Panel with panel-info class</div>
                <div class="panel-body">Panel Content</div>
            </div>

          </div>

      </div>
  </div>


</div>