<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Student Panel</h1>
<button onclick="window.location.href='/student_panel/'">Student Panel</button>
<h1>Fixture Panel</h1>
<button onclick="window.location.href='/fixture_panel/'">Fixture Panel</button>
<h1>User Panel</h1>
<button onclick="window.location.href='/user_panel/'">User Panel</button>
<h1>Reports Panel</h1>
<button onclick="window.location.href='/reports_panel/'">Reports Panel</button>
</body>
</html>