<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Account Panel</h1>
<button onclick="window.location.href='/account_panel/'">Account Panel</button>
<h1>Calendar Panel</h1>
<button onclick="window.location.href='/claendar_panel/'">Calendar Panel</button>
<h1>Document Panel</h1>
<button onclick="window.location.href='/document_panel/'">Document Panel</button>
<h1>Operation Panel</h1>
<button onclick="window.location.href='/operation_panel/'">Operation Panel</button>
<h1>Person Panel</h1>
<button onclick="window.location.href='/person_panel/'">Person Panel</button>
<h1>Report Panel</h1>
<button onclick="window.location.href='/report_panel/'">Report Panel</button>
<h1>Stock Panel</h1>
<button onclick="window.location.href='/stock_panel/'">Stock Panel</button>
<h1>User Panel</h1>
<button onclick="window.location.href='/user_panel/'">User Panel</button>
</body>
</html>