
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1></h1>
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
    {{ form.id }}
        {{ form.student_tcn }}
        {{ form.student_name }}
        {{ form. }}
        <p>{{ form. }}</p>
        <p>{{ form. }}</p>
        <p>{{ form. }}</p>
        <p>{{ form. }}</p>
        <p>{{ form. }}</p>
        <p>{{ form. }}</p>
        <p>{{ form. }}</p>
        <p>{{ form. }}</p>
        <p>{{ form. }}</p>
        <p>{{ form. }}</p>
        <p>{{ form. }}</p>
        <p>{{ form. }}</p>
<p><label for="id_health_notes">Health Notes:</label> <input type="text" name="health_notes" value="-" id="id_health_notes" maxlength="100" /> <span class="helptext">Health Notes</span></p>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

<h2>tlhclk1312@gmail.com</h2>
</body>
</html>
