{% extends "base.html" %}
{% block content %}
    <section>
      <ol class="breadcrumb">
        <li><a href="http://127.0.0.1:8000/home/"><i class="fa fa-home"></i> Ana Sayfa</a></li>
          {% if request.user.groups.all.0.id != 1 %}
        <li class="active"><a href="http://127.0.0.1:8000/person_panel/parent_table"><i class="fa fa-table"></i> Veli Tablosu</a></li>
          {% endif %}
          <li class="active">Veli Detayı: {{ parent.id }}</li>
      </ol>

    </section>
  <section class="content">
    <!-- Main content -->
    <div class="content">
      <!-- Your Page Content Here -->
    <div class="row">
            <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <span>
                        <h1 class="panel-title pull-left" style="font-size:30px;">{{ parent.full_name }}</h1>
                    </span></div>
                <div class="box-body">
                    <h3><b>Öğrenci Numarası: </b><a href="http://127.0.0.1:8000/person_panel/student/{{ parent.person_id }}">{{ parent.student_id_id }}</a></h3>
                    <h3><b>Öğrenci Adı: </b>{{ parent.student_id.full_name }}</h3>
                    <h3><b>Veli Numarası: </b>{{ parent.id }}</h3>
                    <h3><b>Tc Kimlik Numarası:  </b>{{ parent.parent_TCN }}</h3>
                    <h3><b>Adı:  </b>{{ parent.parent_name }}</h3>
                    <h3><b>Soy adı:  </b>{{ parent.parent_lastname }}</h3>
                    <h3><b>Telefon Numarası:  </b>{{ parent.parent_phone }}</h3>
                    <h3><b>E-mail Adresi:  </b>{{ parent.parent_email }}</h3>
                    <h3><b>Yakınlık Derecesi: </b>{{ parent.relative_degree }}</h3>
                    <h3><b>Mesleği: </b>{{ parent.parent_job }}</h3>
                </div>
            </div></div>
    </div>

    <!-- /.content -->
    </div>
    </section>
    {% endblock %}