{% extends "base.html" %}
{% block content %}
    <section>
      <ol class="breadcrumb">
        <li><a href="https://dormoni.com/home/"><i class="fa fa-home"></i> Ana Sayfa</a></li>
        <li class="active"><a href="https://dormoni.com/person_panel/personal_table"><i class="fa fa-table"></i> Personel Tablosu</a></li>
          <li class="active">Personel Detayı: {{ personal.id }}</li>
      </ol>

    </section>
  <section class="content">
    <!-- Main content -->
    <div class="content">
      <!-- Your Page Content Here -->
        <!-- left column -->
    <div class="row">
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="box box-primary">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            <img class="thumbnail img-responsive" src="https://dormoni.com/media/{{ personal.image_field }}" width="300px" height="300px">
                        </div>
                    </div>
                    <div class="media-body">
                        <h3><strong>Telefon Numarası</strong></h3>
                        <p>{{ personal.personal_phone }}</p>
                        <hr>
                        <h3><strong>E-mail Adresi</strong></h3>
                        <p><a href="https://dormoni.com/operation_panel/mail_send/{{ personal.e_mail }}" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-envelope-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Message"></i></a>{{ personal.e_mail }}</p>
                        <hr>
                        <a href="https://dormoni.com/account_panel/asset/{{ personal.id }}" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-files-o" aria-hidden="true"></i> Muhasebe Durumu</a>

                    <span class="pull-right">
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <span>
                        <h1 class="panel-title pull-left" style="font-size:30px;">{{ personal.full_name }}</h1>
                    </span></div>
                <div class="box-body">
                    <h3><b>Personel ID:  </b>{{ personal.id }}</h3>
                    <h3><b>Personel İşe Başlama Tarihi:  </b>{{ personal.personal_startday }}</h3>
                    <h3><b>Personel İşten Ayrılma Tarihi:  </b>{{ personal.personal_endday }}</h3>
                    <h3><b>Personel Oturduğu İl:  </b>{{ personal.personal_city }}</h3>
                    <h3><b>Personel Otuduğu İlçe:  </b>{{ personal.personal_town }}</h3>
                    <h3><b>Personel Açık Adresi:  </b>{{ personal.personal_adress }}</h3>
                    <h3><b>Personel Kan Grubu:  </b>{{ personal.blood_type_name }}</h3>
                    <h3><b>Personel Sağlık Notları:  </b>{{ personal.health_notes }}</h3>
                    <h3><b>Personel Özel Notlar:  </b>{{ personal.special_notes }}</h3>

                </div>
            </div>
        </div></div>
    <div class="row">
            <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-body" style="column-count: 2">
                    <h3><b>Uyruk: </b>{{ personal.personal_tcn.s_nation_name }}</h3>
                    <h3><b>Kimlik Kartı Türü: </b>{{ personal.personal_tcn.s_idcard_type_name }}</h3>
                    <h3><b>Tc Kimlik Numarası:  </b>{{ personal.personal_tcn_id }}</h3>
                    <h3><b>Adı:  </b>{{ personal.personal_tcn.s_name }}</h3>
                    <h3><b>Soy adı:  </b>{{ personal.personal_tcn.s_lastname }}</h3>
                    <h3><b>Baba Adı:  </b>{{ personal.personal_tcn.s_father }}</h3>
                    <h3><b>Anne Adı:  </b>{{ personal.personal_tcn.s_mother }}</h3>
                    <h3><b>Doğduğu Yer:  </b>{{ personal.personal_tcn.s_birth_place }}</h3>
                    <h3><b>Doğum Tarihi:  </b>{{ personal.personal_tcn.s_birthday }}</h3>
                    <h3><b>Cinsiyeti: </b>{{ personal.personal_tcn.s_gender_name }}</h3>
                    <h3><b>Medeni Hali: </b>{{ personal.personal_tcn.s_medeni_hali_name }}</h3>
                    <h3><b>Nufüsa Kayıtlı Olduğu İl:  </b>{{ personal.personal_tcn.s_register_vilage }}</h3>
                    <h3><b>Nufüsa Kayıtlı Oldupu İlçe:  </b>{{ personal.personal_tcn.s_register_town }}</h3>
                    <h3><b>Nufusa Kayıtlı Olduğu Mahalle:  </b>{{ personal.personal_tcn.s_register_distinct }}</h3>
                    <h3><b>Cilt No:  </b>{{ personal.personal_tcn.s_nufus_cilt }}</h3>
                    <h3><b>Aile Sıra No: </b>{{ personal.personal_tcn.s_nufus_ailesira }}</h3>
                    <h3><b>Sıra No: </b>{{ personal.personal_tcn.s_nufus_sirano }}</h3>
                </div>
            </div></div>
    </div>

    <!-- /.content -->
    </div>
    </section>
{% endblock %}