{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Smart Dorms | Kullanıcı Profili </title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{% static 'dist/css/SmartDorms.min.css' %}">

  <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">


</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <a href="http://127.0.0.1:8000/" class="logo">
      <span class="logo-mini"><b>SM</b>iD</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Smart</b>Dorms</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">


          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="http://127.0.0.1:8000/media/{{ personal.image_field }}" class="user-image" alt="User Image">
              <span class="hidden-xs">{{ request.user.first_name }} {{ request.user.last_name }}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="http://127.0.0.1:8000/media/{{ personal.image_field }}" class="img-circle" alt="User Image">

                <p>
                  {{ request.user.first_name }} {{ request.user.last_name }} - {{ request.user.groups.all.first }}
                </p>
              </li>
              <!-- Menu Body -->
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="http://127.0.0.1:8000/person_panel/{{ request.user.id }}" class="btn btn-default btn-flat">Profil</a>
                </div>
                <div class="pull-right">
                  <a href="http://127.0.0.1:8000/user_panel/logout" class="btn btn-default btn-flat">Çıkış Yap</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->

        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Ara...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->

      <ul class="sidebar-menu">
        <li class="header">İşlemler</li>
        <!-- Optionally, you can add icons to the links -->
          {% if request.user.groups.all.first.name %}
        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Muhasebe Bilgileri</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="http://127.0.0.1:8000/account_panel/account_table">Genel Hesap Tablosu</a></li>
            <li><a href="http://127.0.0.1:8000/account_panel/asset_table">Öğrenci Ödeme Tablosu</a></li>
            <li><a href="http://127.0.0.1:8000/account_panel/transaction_table">İşlem Geçmişi</a></li>
            <li><a href="http://127.0.0.1:8000/account_panel/bill_table">Fatura Tablosu</a></li>
          </ul>
        </li>
          <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Takvim Bilgileri</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Henüz Yok</a></li>
          </ul>
        </li><li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Dosya Bilgileri</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="http://127.0.0.1:8000/document_panel/documet_table">Dosya Tablosu</a></li>
            <li><a href="http://127.0.0.1:8000/document_panel/liability_table">Emanet Eşya Tablosu</a></li>
          </ul>
        </li><li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>İşlemler</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="http://127.0.0.1:8000/operation_panel/attendance_table">Yoklama Tablosu</a></li>
            <li><a href="http://127.0.0.1:8000/operation_panel/leave_table">İzinli Öğrenci Tablosu</a></li>
            <li><a href="http://127.0.0.1:8000/operation_panel/mail_send">Toplu Mail Yollama</a></li>
            <li><a href=http://127.0.0.1:8000/"operation_panel/create_egm_xml">EGM Dosyası Oluşturma</a></li>
          </ul>
        </li><li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Kişi Bilgileri</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="http://127.0.0.1:8000/person_panel/student_table">Öğrenci Tablosu</a></li>
            <li><a href="http://127.0.0.1:8000/person_panel/parent_table">Veli Tablosu</a></li>
            <li><a href="http://127.0.0.1:8000/person_panel/personal_table">Personel Tablosu</a></li>
            <li><a href="http://127.0.0.1:8000/person_panel/student_id_table">Kimlik Kartı Tablosu</a></li>
          </ul>
        </li><li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Raporlar</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="http://127.0.0.1:8000/report_panel/attendance_table/-">Yoklama Tablosu</a></li>
            <li><a href="http://127.0.0.1:8000/report_panel/capacity/">Kontenjan Tablosu</a></li>
            <li><a href="http://127.0.0.1:8000/report_panel/room_plan">Yurt Planı</a></li>
            <li><a href="http://127.0.0.1:8000/report_panel/contact_table">Rehber</a></li>
            <li><a href="http://127.0.0.1:8000/report_panel/leave_table">İzinli Öğrenci Tablosu</a></li>
            <li><a href="http://127.0.0.1:8000/report_panel/calendar">Takvim</a></li>
          </ul>
        </li><li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Oda-Eşya Bilgileri</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="http://127.0.0.1:8000/stock_panel/room_table">Oda Tablosu</a></li>
            <li><a href="http://127.0.0.1:8000/stock_panel/fixture_table">Eşya Tablosu</a></li>
          </ul>
        </li>
          {% endif %}
      </ul>

    </section>
  </aside>


  <div class="content-wrapper">

    <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="http://127.0.0.1:8000/"><i class="fa fa-dashboard"></i> Ana Sayfa</a></li>
        <li class="active"><a href="http://127.0.0.1:8000/person_panel/personal_table">Geri</a></li>
      </ol>
    </section>


        <div style="padding-top:10px;"> </div>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            <img class="thumbnail img-responsive" src="http://127.0.0.1:8000/media/{{ personal.image_field }}" width="300px" height="300px">
                        </div>
                        <div class="media-body">
                            <hr>
                            <h3><strong>Pozisyon</strong></h3>
                            <p>Yurt Görevlisi</p>
                            <hr>
                            <h3><strong>İşletme ismi</strong></h3>
                            <p>Çelik Konaklama</p>
                            <hr>
                            <h3><strong>Telefon Numarası</strong></h3>
                            <p>{{ personal.personal_phone }}</p>
                            <hr>
                            <h3><strong>E-mail Adresi</strong></h3>
                            <p><a href="http://127.0.0.1:8000/operation_panel/mail_send/{{ personal.personal_email }}" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-envelope-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Message"></i></a>{{ personal.personal_email }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span>
                        <h1 class="panel-title pull-left" style="font-size:30px;">{{ personal.full_name }}</h1>

                    </span>
                    <br>
                    <h3><b>Personel ID:  </b>{{ personal.id }}</h3>
                    <h3><b>Personel Kimlik Numarası:  </b>{{ personal.personal_tcn }}</h3>
                    <h3><b>Personel Doğum Günü:  </b>{{ personal.personal_birthday }}</h3>
                    <h3><b>Personel Oturduğu İl:  </b>{{ personal.personal_city }}</h3>
                    <h3><b>Personel Otuduğu İlçe:  </b>{{ personal.personal_town }}</h3>
                    <h3><b>Personel Açık Adresi:  </b>{{ personal.personal_adress }}</h3>
                    <h3><b>Personel Kan Grubu:  </b>{{ personal.blood_type_name }}</h3>
                    <h3><b>Personel Sağlık Notları:  </b>{{ personal.health_notes }}</h3>
                    <h3><b>Personel Özel Notlar:  </b>{{ personal.special_notes }}</h3>
                    <h3><b>Personel İşe Başlama Tarihi:  </b>{{ personal.personal_startday }}</h3>
                    <h3><b>Personel İşten Ayrılma Tarihi:  </b>{{ personal.personal_endday }}</h3>
                    <hr>
                    <span class="pull-left">
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-files-o" aria-hidden="true"></i> Muhasebe Durumları</a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-picture-o" aria-hidden="true"></i> Öğrenci Listesi <span class="badge"></span></a>

                    </span>
                    <span class="pull-right">
                    </span>
                </div>
            </div>
        </div>
  </div>

  <div style="padding-top:250px;"> </div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
     Made by <b>Talha Çelik</b>
    </div>
    <strong>Copyright &copy; 2017 <a href=>Teshco</a>.</strong>
  </footer>


  <div class="control-sidebar-bg"></div>
</div>

<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>
<script src="{% static 'dist/js/app.min.js' %}"></script>
<script src="{% static 'dist/js/demo.js' %}"></script>
</body>
</html>
