{% extends "base.html" %}
{% block content %}
    <section>
      <ol class="breadcrumb">
        <li><a href="http://www.dormoni.com/home/"><i class="fa fa-home"></i> Ana Sayfa</a></li>
          {% if request.user.groups.all.0.id != 1 %}
        <li class="active"><a href="http://www.dormoni.com/person_panel/student_table"><i class="fa fa-table"></i> Öğrenci Tablosu</a></li>
          {% endif %}
          <li class="active">Öğrenci Detayı: {{ student.id }}</li>
      </ol>

    </section>
  <section class="content">
    <!-- Main content -->
    <div class="content">
      <!-- Your Page Content Here -->
        <!-- left column -->
    <div class="row">
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="box box-primary">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            <img class="thumbnail img-responsive" src="http://www.dormoni.com/media/{{ student.image_field }}" width="300px" height="300px">
                        </div>
                    </div>
                    <div class="media-body">
                        <h3><strong>Telefon Numarası</strong></h3>
                        <p>{{ student.student_phone }}</p>
                        <hr>
                        <h3><strong>E-mail Adresi</strong></h3>
                        <p><a href="http://www.dormoni.com/operation_panel/mail_send/{{ student.e_mail }}" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-envelope-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Message"></i></a>{{ student.e_mail }}</p>
                        <hr>
                        <a href="http://www.dormoni.com/person_panel/parent/{{ student.id }}" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-heart" aria-hidden="true"></i> Veli Bilgileri</a>
                        <hr>
                        <a href="http://www.dormoni.com/account_panel/asset/{{ student.id }}" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-files-o" aria-hidden="true"></i> Muhasebe Durumları</a>

                    <span class="pull-right">
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <span>
                        <h1 class="panel-title pull-left" style="font-size:30px;">{{ student.full_name }} <small>{{ student.student_type_name }}</small>  {% if student.student_position %}<i class="fa fa-check text-success" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Yurtta"></i>{% else %}<i class="fa fa-close text-red" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Dışarıda"></i>{% endif %}</h1>
                    </span></div>
                <div class="box-body">
                    <h3><b>Öğrenci ID:  </b>{{ student.id }}</h3>
                    <h3><b>Öğrenci Oda Numarası:  </b>{{ student.room_no_id }}</h3>
                    <h3><b>Öğrenci Kayıt Tarihi:  </b>{{ student.student_regday }}</h3>
                    <h3><b>Öğrencinin Okulu:  </b>{{ student.school_name }}</h3>
                    <h3><b>Öğrencinin Eğitim Yılı:  </b>{{ student.education_year_name }}</h3>
                    <h3><b>Öğrenci Oturduğu İl:  </b>{{ student.student_city }}</h3>
                    <h3><b>Öğrenci Otuduğu İlçe:  </b>{{ student.student_town }}</h3>
                    <h3><b>Öğrenci Açık Adresi:  </b>{{ student.student_adress }}</h3>
                    <h3><b>Öğrenci Kan Grubu:  </b>{{ student.blood_type_name }}</h3>
                    <h3><b>Öğrenci Sağlık Notları:  </b>{{ student.health_notes }}</h3>
                    <h3><b>Öğrenci Özel Notlar:  </b>{{ student.special_notes }}</h3>

                </div>
            </div>
        </div></div>
    <div class="row">
            <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-body" style="column-count: 2">
                    <h3><b>Uyruk: </b>{{ student.student_tcn.student_nation_name }}</h3>
                    <h3><b>Kimlik Kartı Türü: </b>{{ student.student_tcn.s_idcard_type_name }}</h3>
                    <h3><b>Tc Kimlik Numarası:  </b>{{ student.student_tcn_id }}</h3>
                    <h3><b>Adı:  </b>{{ student.student_tcn.s_name }}</h3>
                    <h3><b>Soy adı:  </b>{{ student.student_tcn.s_lastname }}</h3>
                    <h3><b>Baba Adı:  </b>{{ student.student_tcn.s_father }}</h3>
                    <h3><b>Anne Adı:  </b>{{ student.student_tcn.s_mother }}</h3>
                    <h3><b>Doğduğu Yer:  </b>{{ student.student_tcn.s_birth_place }}</h3>
                    <h3><b>Doğum Tarihi:  </b>{{ student.student_tcn.s_birthday }}</h3>
                    <h3><b>Cinsiyeti: </b>{{ student.student_tcn.s_gender_name }}</h3>
                    <h3><b>Medeni Hali: </b>{{ student.student_tcn.s_medeni_hali_name }}</h3>
                    <h3><b>Nufüsa Kayıtlı Olduğu İl:  </b>{{ student.student_tcn.s_register_vilage }}</h3>
                    <h3><b>Nufüsa Kayıtlı Oldupu İlçe:  </b>{{ student.student_tcn.s_register_town }}</h3>
                    <h3><b>Nufusa Kayıtlı Olduğu Mahalle:  </b>{{ student.student_tcn.s_register_distinct }}</h3>
                    <h3><b>Cilt No:  </b>{{ student.student_tcn.s_nufus_cilt }}</h3>
                    <h3><b>Aile Sıra No: </b>{{ student.student_tcn.s_nufus_ailesira }}</h3>
                    <h3><b>Sıra No: </b>{{ student.student_tcn.s_nufus_sirano }}</h3>
                </div>
            </div></div>
    </div>

    <!-- /.content -->
    </div>
    </section>{% endblock %}