<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">



 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.0.3/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.0.3/js/buttons.html5.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>


<script>
$(document).ready(function(){
  $('#myTable').DataTable( {
    responsive: true,
    dom: 'Bfrtip',
    buttons: [

    'copyHtml5', 'excelHtml5', 'pdfHtml5', 'csvHtml5'
  ]
} );
});
</script>
</head>
<body>
<table id="myTable" class="display">
    <thead>
        <tr>
          <th>Student ID</th>
          <th>Parent Name</th>
          <th>Parent Phone</th>
            <th>Parent Email</th>
          <th>Relative Degree</th>
          <th>Parent Job</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for parent in parent_list %}
          <tr>
              <td><a href="/person_panel/parent/{{ parent.id }}/">{{ parent.student_id_id }}</a></td>
              <td>{{ parent.parent_name }}</td><td>{{ parent.parent_phone }}</td><td>{{ parent.parent_email }} </td>
              <td>{{ parent.relative_degree }} </td><td>{{ parent.parent_job }}</td>
          <td><button onclick="window.location.href='/person_panel/parent_edit/{{ parent.id }}'">Edit</button>
              <button onclick="window.location.href='/person_panel/parent_delete/{{ parent.id }}'">Delete</button></td></tr>
    {% endfor %}

    </tbody>
</table>
</body>
</html>
