{% load static %}
<html>
<head>
<link rel="stylesheet" href={% static 'bootstrap/css/bootstrap.min.css' %}>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{% static 'plugins/fullcalendar/fullcalendar.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/fullcalendar/fullcalendar.print.css' %}" media="print">
  <link rel="stylesheet" href="{% static 'dist/css/SmartDorms.min.css' %}">

  <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">




 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.0.3/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.0.3/js/buttons.html5.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>


<script>
$(document).ready(function(){
  $('#myTable').DataTable( {
    responsive: true,
    dom: 'Bfrtip',
    buttons: [

    'copyHtml5', 'excelHtml5', 'pdfHtml5', 'csvHtml5'
  ]
} );
});
</script>
</head>

<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">
  <header class="main-header">
    <a href="../../index2.html" class="logo">
      <span class="logo-mini"><b>SM</b>iD</span>
      <span class="logo-lg"><b>Smart</b>Dorms</span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown messages-menu"></li>
          <li class="dropdown notifications-menu">
            <ul class="dropdown-menu">
              <li>
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i>
                    </a>
                  </li>

                </ul>
              </li>
            </ul>
          </li>

          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="../../media/resepsiyon.png"class="user-image" alt="User Image">
              <span class="hidden-xs">Resepsiyon 1</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="../../media/resepsiyon.png" class="img-circle" alt="User Image">

                <p>
                  Resepsiyon 1 - Resepsiyon Görevlisi
                </p>
              </li>

              <li class="user-footer">
                <div class="pull-left">
                  <a href="#profile.html" class="btn btn-default btn-flat">Profil</a>
                </div>
                <div class="pull-right">
                  <a href="#anasayfa.html" class="btn btn-default btn-flat">Çıkış Yap</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../media/resepsiyon.png"class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Resepsiyon 1</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Çevrimiçi</a>
        </div>
      </div>
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Ara...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>

      <ul class="sidebar-menu">
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Oda Bilgileri Güncelleme </span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="../../index8.html"><i class="fa fa-circle-o"></i> Odalarda Kalan Öğrenciler </a></li>
            <li><a href="../../index3.html"><i class="fa fa-circle-o"></i> Oda Demirbaş Takibi </a></li>
            <li><a href="../../index4.html"><i class="fa fa-circle-o"></i> Oda Numarası, Katı ve Yer Tarifi </a></li>

        </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Öğrenci Bilgi Güncelleme</span>
            <span class="pull-right-container">
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="../q.html"><i class="fa fa-circle-o"></i> Yoklama Bilgisi</a></li>
            <li><a href="../w.html"><i class="fa fa-circle-o"></i> Oda Bilgisi </a></li>
            <li><a href="../z.html"><i class="fa fa-circle-o"></i> Üzerine Zimmetli Eşya Listesi </a></li>


          ></ul>
        </li>




        <li class="treeview-menu">
          <a href="../calendar.html">
            <i class="fa fa-calendar"></i> <span>Takvim</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>

      </ul>
    </section>
  </aside>

  <div class="content-wrapper">

      <ol class="breadcrumb">
        <li><a href="../../index2.html"><i class="fa fa-dashboard"></i> Ana Sayfa</a></li>
        <li class="active">Resepsiyon</li>
      </ol>

    <table id="myTable" class="display">
    <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Birthdate</th>
            <th>Attendance</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for student in student_list %}
          <tr><td>
                <a href="/person_panel/student/{{ student.id }}/">{{ student.id }}</a>
          </td><td>{{ student.student_name }}</td><td>{{ student.student_lastname }}</td><td>{{ student.student_email }} </td><td>{{ student.student_birthday }} </td><td>{{ student.student_position }}</td>
          <td><button onclick="window.location.href='/person_panel/student_edit/{{ student.id }}'">Edit</button>
          <button onclick="{{ student.delete }}">Delete</button></td>
          </tr>

    {% endfor %}

    </tbody>
</table>


  </div>
</div>
</body>
</html>