{% extends "base.html" %}
{% block content %}
    <section>
      <ol class="breadcrumb">
        <li><a href="http://127.0.0.1:80000/home/"><i class="fa fa-home"></i> Ana Sayfa</a></li>
        <li class="active"><a href="http://www.dormoni.com/account_panel/bill_table/"><i class="fa fa-table"></i> Fatura Tablosu</a></li>
          <li class="active">Fatura Detayı: {{ bill.id }}</li>
      </ol>

    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Your Page Content Here -->
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
<div class="box box-primary">
            <div class="box-header with-border">
              <h1 class="panel-title pull-left" style="font-size:30px;">{{ bill.bill_type_name }} - {{ bill.bill_code }}</h1>
            </div>
                <div class="panel-body">
                    <h3><b>Fatura ID:  </b>{{ bill.id }}</h3>
                    <h3><b>Fatura Türü:  </b>{{ bill.bill_type_name }}</h3>
                    <h3><b>Fatura Kodu:  </b>{{ bill.bill_code }}</h3>
                    <h3><b>Fatura Miktarı:  </b>{{ bill.bill_amount }}</h3>
                    <h3><b>Fatura Dönemi:  </b>{{ bill.bill_period }}</h3>
                    <h3><b>Fatura Son Ödeme Tarihi:  </b>{{ bill.bill_lastday }}</h3>
                    <h3><b>Fatura Adresi: </b>{{ bill.bill_address }}</h3>
                    <h3><b>Fatura Açıklaması: </b>{{ bill.bill_desc }}</h3>
                    <hr>
                    <span class="pull-left">
                        <a href="http://www.dormoni.com/account_panel/bill_table/" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-list" aria-hidden="true"></i>Fatura Tablosu</a>
                        <a href="http://www.dormoni.com/account_panel/transaction_table/{{ bill.id }}" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-backward" aria-hidden="true"></i>Fatura İşlem Geçmişi</a>
                        <a href="http://www.dormoni.com/account_panel/bill_add/" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-plus" aria-hidden="true"></i>Yeni Fatura</a>

                    </span>
                    <span class="pull-right">
                    </span>
                </div>
            </div>
        </div></div>
    </section>
{% endblock %}