{% extends "base.html" %}
{% block content %}
    <section>
      <ol class="breadcrumb">
        <li><a href="http://www.dormoni.com/home/"><i class="fa fa-home"></i> Ana Sayfa</a></li>
        <li class="active"><a href="http://www.dormoni.com/account_panel/account_table"><i class="fa fa-table"></i> Genel Hesap Tablosu</a></li>
          <li class="active">Hesap Özeti: {{ account.account_no }}</li>
      </ol>

    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Your Page Content Here -->
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h1 class="panel-title pull-left" style="font-size:30px;">{{ account.account_name }}</h1>
            </div>
                <div class="panel-body">
                    <h3><b>Hesap Adı:  </b>{{ account.account_name }}</h3>
                    <h3><b>Hesap No:  </b>{{ account.account_no }}</h3>
                    <h3><b>Banka Kodu:  </b>{{ account.bank_code_name }}</h3>
                    <h3><b>Hesap Türü:  </b>{{ account.account_type_name }}</h3>
                    <h3><b>Bakiye:  </b>{{ account.account_amount }}</h3>
                    <h3><b>Hesap Açıklaması:  </b>{{ account.account_desc }}</h3>
                    <hr>
                    <span class="pull-left">
                        <a href="http://www.dormoni.com/account_panel/account_table" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-list" aria-hidden="true"></i>Hesap Tablosu</a>
                        <a href="http://www.dormoni.com/account_panel/transaction_table/{{ account.account_no }}" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-backward" aria-hidden="true"></i>İşlem Geçmişi </a>
                        <a href="http://www.dormoni.com/account_panel/transaction_add/{{ account.account_no }}" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-plus" aria-hidden="true"></i>Yeni İşlem</a>

                    </span>
                    <span class="pull-right">
                    </span>
                </div>
            </div>
        </div></div>
    </section>
{% endblock %}